/* mulish-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mulish-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/mulish-v13-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/mulish-v13-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/mulish-v13-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* mulish-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/mulish-v13-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: inherit;
  height: 100%;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 22.59px;
  color: #7D7987;
}

span {
  color: #1F1534;
}

.intro__container {
  margin-top: 100px;
  display: flex;
}

.intro__content {
  padding-top: 100px;
  margin-right: 100px;
}

.intro__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #1F1534;
}

.intro__text {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  color: #7D7987;
  padding-top: 25px;
  padding-bottom: 45px;
}

.intro__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  background: #458FF6;
  padding: 20px 40px;
  border-radius: 55px;
  transition: 0.3s ease all;
}

.intro__link:hover {
  color: #458FF6;
  background-color: #fff;
  border: 2px solid #458FF6;
}/*# sourceMappingURL=style.css.map */