.header__container{
    margin-top: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.header__list {
    display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
}
.header__link{
    font-size: 18px;
    font-weight: 400;
    line-height: 22.59px;
    color: $main-color;
}
span{
    color: $secondary-color;
}